.dino {
	position: absolute;
	width: 100px;
	height: 105px;
	background-image: url(./gigi.png);
	bottom: 0px;
	background-size: cover;
}
.obstacle {
	position: absolute;
	width: 100px;
	height: 105px;
	background-image: url(./Cactus.png);
	bottom: 0px;
	background-size: cover;
}
